[Desktop Entry]
Name=Tartube
Version=2.4.042
Exec=tartube
Icon=tartube
Type=Application
Categories=Network
Comment=GUI front-end for youtube-dl
Terminal=false
Name[en_GB]=io.sourceforge.tartube.desktop
