[Desktop Entry]
Name=Tartube
Version=1.5
Exec=tartube
Icon=tartube
Type=Application
Categories=Network
Comment=GUI front-end for youtube-dl and yt-dlp
Terminal=false
