[Desktop Entry]
Name=Tartube
Version=2.1.016
Exec=tartube
Icon=tartube
Type=Application
Categories=Network
Comment=GUI front-end for youtube-dl
Terminal=false
